.layout {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
}

.layout__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: var(--maxwidth);
}

.layout__menu-icon {
  width: 24px;
  height: 24px;
}

.layout__header {
  align-items: center;
  color: var(--verdigris);
  fill: var(--verdigris);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.layout__logo {
  cursor: pointer;
  font-family: "Caveat"; /* TODO: Maybe another font */
  font-size: 1.5rem;
}

.layout__body {
  align-self: center;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}

.layout__footer {
  align-self: center;
  max-width: var(--maxwidth);
  width: 100vw;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {

  .layout__header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
