.demo {
  border: solid 2px var(--silversand);
  border-radius: 1rem;
  color: var(--silversand);
  position: relative;
}

.demo__grid {
  flex: 1;
  align-items: center;
  display: grid;
  grid-template-rows: 48px 1fr auto;
  grid-template-columns: 50px 1fr auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.demo__icon {
  justify-self: center;
  width: 48px;
  height: 48px;
}

.demo__icon img {
  border-radius: 6px;
  height: 48px;
  width: 48px;
}

.demo__title {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.demo__links {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  justify-content: space-around;
}

.demo__description {
  grid-column: 1 / -1;
  text-align: justify;
}

.demo__tech {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: auto;
  color: white;
  font-size: 0.9rem;
}

.demo__wip {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 0.8rem;
}

/* SVG */

.demo__svg {
  cursor: pointer;
  fill: var(--silversand);
  width: 32px;
  height: 32px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.demo__svg--apple {
  width: 120px; /* Apple icon is a rectangle */
}

/* .demo__svg--apple path {
  fill: var(--gunmetal);
} */

.demo__svg:hover {
  fill: var(--turquoise);
  transform: scale(1.1);
}
/*
.demo__svg--apple:hover  {
  fill: var(--turquoise);
} */
