.demo__link {
  display: flex;
}

.demo {
  flex: 1;
  border: solid 2px var(--silversand);
  border-radius: 5px;
  color: var(--silversand);
  position: relative;
}

.demo:hover {
  background-color: var(--gunmetal);
  border-color: var(--white);
}

.demo__grid {
  flex: 1;
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 50px 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.demo__icon {
  justify-self: center;
  width: 48px;
  height: 48px;
}

.demo__icon img {
  border-radius: 6px;
  height: 48px;
  width: 48px;
}

.demo__title {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.demo__description {
  grid-column: 1 / span 2;
  text-align: justify;
}

.demo__tech {
  grid-column: 1 / span 2;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: 1fr;
  color: white;
  font-size: 0.9rem;
}

.demo__wip {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 0.8rem;
}
