.resume {
  justify-content: space-around;
  display: flex;
  padding: 1rem;
  position: relative;
}

.resume__download {
  background: var(--verdigris);
  border-radius: 1rem;
  color: white;
  position: absolute;
  display: inline-block;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .resume__download {
    display: none;
  }

  .resume:hover .resume__download {
    display: inline-block;
    bottom: 2rem;
  }

}
