.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__subtitle {
  display: none;
}

.header__right {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 3rem;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .header__subtitle {
    display: inline-block;
    font-size: 0.8rem;
  }

  .header__right {
    display: inline-block;
  }
}
