.degree {
  border: solid 2px var(--silversand);
  border-radius: 5px;
  cursor: pointer;
  padding: 1.5rem;
  position: relative;
}

.degree__grid {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.degree__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.degree__date {
  justify-self: end;
  text-align: right;
}

.degree__university {
  grid-column: 1 / span 2;
}

.degree__more {
  color: var(--silversand);
  display: grid;
  grid-gap: 0.5rem;
  font-size: 0.9rem;
  padding-top: 1rem; /* This should match demo__grid grid-gap */
}

.degree__more-title {
  text-decoration: underline;
}

.degree__course::before {
  content: "- ";
}

.degree__expand-icon {
  fill: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {

  .degree:hover {
    background-color: var(--gunmetal);
    border-color: white;
  }

  .degree__grid {
    grid-template-columns: 1fr 1fr;
  }
}
