.degree {
  border: solid 2px var(--richblack);
  cursor: pointer;
  padding: 1rem;
  position: relative;
}

.degree:hover {
  background-color: var(--verdigris);
  border-color: var(--turquoise);
}

.degree__grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.degree__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.degree__date {
  justify-self: end;
  text-align: right;
}

.degree__university {
  grid-column: 1 / span 2;
}

.degree__gpa {
}

.degree__more {
  grid-column: 1 / span 2;
  color: white;
  display: grid;
  grid-gap: 0.5rem;
  font-size: 0.8rem;
}

.degree__more-title {
  text-decoration: underline;
}

.degree__course::before {
  content: "- ";
}

.degree__expand-icon {
  fill: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
