.about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 800px;
}

.about p {
  padding: 1rem;
}

.about hr {
  width: 75%;
}

.about__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.about__subtitle {
  text-align: center;
  padding-top: 1rem;
}
