.home {
  background-color: var(--gunmetal);
  color: var(--warmyellow);
  height: 100vh;
  font-family: "Montserrat";
}

.home__content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__header {
  border-bottom: solid 1px var(--navyblue);
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {

}
