.home {
  box-sizing: border-box; /* Include padding in height */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 1rem;
}

.home__intro {
  display: grid;
  grid-gap: 1rem;
  line-height: 1.5rem;
}

.home__hi {
  font-size: 0.8rem;
}

.home__name {
  font-size: 2rem;
}

.home__about {
  font-size: 1rem;
}

.home__skills {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: 1fr;
  padding: 1rem;
}

.home__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
