:root {
  --richblack: #0b0c10;
  --gunmetal: #1f2833;
  --silversand: #c5c6c7;
  --turquoise: #5ce5da;
  --verdigris: #45a29e;

  --maxwidth: 1200px;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}
