.nav {
  color: var(--verdigris);
  display: grid;
  fill: var(--verdigris);
  grid-gap: 1rem;
  text-transform: uppercase;
}

.nav__option {
  align-items: center;
  border-bottom: solid 1px transparent; /* Adding a transparent bottom border
              so that on hover the item won't move up when a border appears. */
  cursor: pointer;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto;
  font-weight: bold;
}

.nav__option--selected {
  border-color: var(--silversand);
  color: var(--silversand);
  fill: var(--silversand);
}

.nav__option--animated {
  transform: translateY(-50px);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {transform: translateY(-50px); }
  100% {transform: translateY(0%); }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  {

  .nav {
    grid-auto-flow: column;
  }

  .nav__option:hover {
    border-color: var(--turquoise);
    color: var(--turquoise);
    fill: var(--turquoise);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {

  .nav {
    grid-auto-flow: column;
    grid-gap: 2rem;
  }

  .nav__option:hover {
    border-color: var(--turquoise);
    color: var(--turquoise);
    fill: var(--turquoise);
  }
}

/* Burger Menu */
.bm-burger-button {
  fill: var(--verdigris);
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 24px; /* Explicitly set height and width */
  width: 24px;  /* because Safari doesn't resize when screen shrinks */
}

.bm-menu {
  box-sizing: border-box;
  padding-top: 2rem;
}

.bm-item-list {
  box-sizing: border-box;
  padding: 1rem;
}
