.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  max-width: 1100px;
  width: 100%;
}

.nav__option {
  align-items: center;
  border-bottom: solid 1px transparent; /* Adding a transparent bottom border
              so that on hover the item won't move up when a border appear. */
  cursor: pointer;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto;
}

.nav__option--selected {
  border-color: white;
  color: white;
  fill: white;
}

.nav__option:hover {
  border-color: var(--rustyred);
  color: var(--rustyred);
  fill: var(--rustyred);
}




/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {

}
