.nav {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr;
  text-transform: uppercase;
  padding: 1rem;
}

.nav__option {
  align-items: center;
  border-bottom: solid 1px transparent; /* Adding a transparent bottom border
              so that on hover the item won't move up when a border appears. */
  cursor: pointer;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto;
}

.nav__option--selected {
  border-color: white;
  color: white;
  fill: white;
}


/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: var(--maxwidth);
    width: 100%;
    padding: 0;
  }

  .nav__option:hover {
    border-color: var(--rustyred);
    color: var(--rustyred);
    fill: var(--rustyred);
  }
}
